<table class="tableList">
    <thead>
        <tr>
            {{- with site.Params.headers }}
            <th>{{.key}}</th>
            {{- end }}
        </tr>
    </thead>
    <tbody id="tableListBody">
        {{- if not .IsHome }}
        {{- range .RegularPages}}
        <tr>
            <td><a href="{{.RelPermalink}}">{{ .Title }}</a></td>
        </tr>
        {{- end }}
        {{- else }}
        {{- range site.RegularPages}}
        <tr>
            <td><a href="{{.RelPermalink}}">{{ .Title }}</a></td>
        </tr>
        {{- end }}
        {{- end }}
    </tbody>
</table>

<script src="//widgets.clicky.com/flashy/?site_id=101413998&sitekey=afd6322e291dfecfab0232ae07406a0f&w=400&h=200&date=last-60-days&type=visitors&title=&hide_y=0&hide_title=0&hide_branding=0" type="text/javascript"></script>